venv/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

build/
dist/
*.egg-info/
.ipynb_checkpoints/

kaliper.db
kaliper.db-journal
kaliper.db-wal
kaliper.db-shm

.DS_Store
Thumbs.db